<%- include('header.ejs') %>
<form  id="addCart">
<input type="hidden" name="name" value="<%=prd.name%>" />
<input type="hidden" name="price" value="<%=prd.price%>" />
<div>name:<%=prd.name%></div>
<div id="color">color:<%=prd.color%></div>
<div id="price">price:$<%=prd.price%></div>
<div>
    <button type="submit">add to Cart</button>
</div>
  <div id="msg" >
    Item added successfully!
</div>
<span>
    <button><a id="linktocart" href="/shoppingCart">Click here to see cart..</a>
</span>
<form>
<%- include('root.ejs') %>