<%- include('header.ejs') %>
<form   action="/addToCart" method="post">
<input type="hidden" name="name" value="<%=prd.name%>" />
<input type="hidden" name="price" value="<%=prd.price%>" />
<div>name:<%=prd.name%></div>
<div id="color">color:<%=prd.color%></div>
<div id="price">price:$<%=prd.price%></div>
<div>
    <button type="submit">add to Cart</button>
</div>
<form>