<%- include('layout/header') %>
<link href="/css/shoppingcart.css" rel="stylesheet" />
    </head>

    <body>
        <div id="list-container">

            <% for(const k in product){%>
                <div id="container">
                    <label for="name">Name:</label>
                    <span><%=product[k].name%></span>
                    <label for="price">Price:</label>
                    <span><%=product[k].price%></span>
                    <label for ="quanitity">Quantity:</label>
                    <span><%=product[k].quantity%></span>
                    <label for ="Description">Description:</label>
                    <span><%=product[k].description%></span>
                </div>
                <%}%>

        </div>
        <%- include('layout/footer.ejs')%>